*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.html,body{
    height: 100%;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.upper{
    height: 40%;
    width: 100%;
    background-color: aquamarine;
    padding: 1vw 2vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url(srk.png.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.navigation{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba( 255, 255,255, .4);
    
    border-radius: 30px;

}

.left-nav{
    height: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    
}
.left-nav a{
    margin: 0vw 3vw;
    text-decoration: none;
    font-size: 1.8vw;
}
.right-nav{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.right-nav img{
    margin: 0.8vw;
    font-size: 1.9vw;
    color: white;

}
.about{
    height: calc(100%-100px);
    width: 80%;
    margin: 1vw 0vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
}
.about h1{
    color: white;
    font-size: 5vw;

}
.about p{
    color: white;
    font-size: 1vw;
}
.lower-div {
    height: 60%;
    width: 80%;
    display: flex;
}

.left-lower {
    height: 100%;
    width: 50%;
    padding: 2vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.left-lower h2 {
    font-size: 3.5vw;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(7, 5, 0);
}

.left-lower p {
    font-size: .9vw;
    color: rgb(14, 4, 4);
    margin: .5vw 0;
}

.right-lower {
    height: 100%;
    width: 50%;
 
    padding: 5vw 13vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


